body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li{
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

#content a{
    color: rgb(243, 27, 3);
}

#content a:hover{
    color: rgb(0, 43, 54);
}

#header{
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    width: 100%;
    background: rgb(0, 43, 54);
    color: white;
}

#header h1{
    width: 50%;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}

.nav li{
    padding: 10px;
}

#content{
    width: 100%;
    height: auto;
}

.selected{
    color: salmon;
}

.user{
    color: salmon;
}

.user:hover{
    color: white;
}

#hero{
    margin: 30px auto;
    width: 70%;
    text-align: center;
    font-size: 30px;
}


/* forms properties */

.box{
    margin: 100 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px 3px rgba(0, 43, 54, 0.5);
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box h1{
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 43, 54, 0.5);
}

.box p{
    line-height: 2;
}

.box input{
    border: none;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0, 43, 54);
    width: 100%;
}

.box .button{
    width: auto;
    color: white;
    padding: 5 10 5 10;
    background: rgb(0, 43, 54);
}

.box .button:hover{
    background: white;
    color: black;
}