{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1>Bookmarks</h1>
        {% if request.user.is_authenticated %}
            <ul class="nav">
                <li>
                    <a {% if section == 'dashboard' %}class="selected"{% endif %} href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li {% if section == 'images' %}class="selected"{% endif %}>
                    <a {% if section == 'images' %}class="selected"{% endif %} href="#">Images</a>
                </li>
                <li {% if section == 'people' %}class="selected"{% endif %}>
                    <a {% if section == 'people' %}class="selected"{% endif %} href="#">People</a>
                </li>
            </ul>
        {% endif %}
        <span>
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }}, 
                <a class="user" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="user" href="{% url 'login' %}">Login</a> |
                <a class="user" href="{% url 'register' %}">Register</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>