html{
    box-sizing: border-box;
    color: rgb(214, 209, 209);
    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: teal;
}

a:hover{
    color: white;
    transition: 0.5s;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(36, 35, 35);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background: cadetblue;
}

#brand{
    width: 50%;
    text-align: center;
}
#brand a{
    color: white;
}
#navbar{
    width: 50%;
}

#navbar ul{
    display: flex;
    justify-content: center;
}

#navbar ul li{
    padding-right: 20px;
    font-size: 20px;
}

#navbar ul a{
    color: white;
}

#navbar ul a:hover{
    color: rgb(0, 0, 0);
}

#content{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.post_card{
    box-shadow: 0 0 3px 2px black;
    padding: 20px;
    margin-bottom: 25px;
}

#welcome{
    text-align: center;
    font-size: 60px;
}

.link_title{
    color: cadetblue;
}

.link_title:hover{
    color: whitesmoke;
}

.pagination-position{
    text-align: center;
}

.pagination-position a{
    color: cadetblue;
}

.pagination-position a:hover{
    color: white;
}

form{
    margin-top: -20px;
    padding-left: 15px;
    line-height: 2;
    width: 400px;
    display: flex;
    flex-direction: column;
}
form p{
    display: flex;
    flex-direction: column;
}

.button{
    justify-self: end;
    border: none;
    padding: 10px;
    color: white;
    background: cadetblue;
}

.button:hover{
    color: black;
    background: white;
    transition: 0.5s;
}

form p input{
    border: transparent;
	border-bottom: 2px solid white;
    width: 100%;
    background: transparent;
    padding: 5px;
    color: white;
}

form p textarea{
    border: transparent;
	border: 2px solid white;
    width: 100%;
    background: transparent;
    padding: 5px;
    color: white;
}