html{
    box-sizing: border-box;
    color: rgb(214, 209, 209);
    font-size: 18px;
    font-family: garamond;
    font-weight: normal;
    letter-spacing: 0.3px;
}

h1,h2{
    margin: 10px 0 10px 0;
    padding: 0;
}

small{
    font-style: italic;
    color: darkseagreen;
}

a{
    text-decoration: none;
    color: cadetblue;
}

a:hover{
    color: white;
    transition: 0.5s;
}


p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(32, 32, 32);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background: cadetblue;
}

#brand{
    width: 50%;
}

#brand a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand_image{
    width: 64px;
    height: auto;
}

#navbar{
    width: 50%;
}

#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#navbar ul li{
    padding-right: 20px;
    font-size: 20px;
    list-style: none;
}

#navbar ul a{
    color: white;
}

#navbar ul a:hover{
    color: rgb(0, 0, 0);
}

#content{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.post_card{
    box-shadow: 0 0 3px 2px black;
    padding: 20px;
    margin: 25px;
}

#welcome{
    text-align: center;
    font-size: 40px;
}

.link_title{
    color:cadetblue);
}

.link_title:hover{
    color: whitesmoke;
}

.pagination-position{
    text-align: center;
}

.pagination-position a{
    color: cadetblue;
}

.pagination-position a:hover{
    color: white;
}

.details{
    padding: 0 15px 0 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 20px 0 10px 0;
}

.share{
    text-align: end;
}

form{
    padding-left: 15px;
    line-height: 2;
    width: 400px;
    display: flex;
    flex-direction: column;
}

form label{
    display: none;
}

form p{
    display: flex;
    flex-direction: column;
}

.button{
    justify-self: end;
    border: none;
    padding: 10px;
    color: white;
    background: rgb(4, 57, 66);
}

.button:hover{
    color: black;
    background: white;
    transition: 0.5s;
}

form p input{
    border: transparent;
	border-bottom: 2px solid white;
    width: 100%;
    background: transparent;
    padding: 5px;
    color: white;
}

form p textarea{
    border: transparent;
	border: 2px solid white;
    width: 100%;
    background: transparent;
    padding: 5px;
    color: white;
}

.big-box{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.small-box{
    width: 28%;
    box-shadow: 0 0 3px 2px black;
    padding: 15px;
}

#search{
    display: flex;
    width: 400px;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

#search label{
    display: none
}

#search input{
    border: none;
    height: 40px;
    background: rgba(12, 34, 45, 0.3);
}

#button.button{
    border: none;
    background: rgba(4, 57, 66, 0.7);
}

#button.button:hover{
    background: rgb(174, 214, 209);
    color: black;
}

#block{
    margin: 150 0 145 0;
}


#footer{
    border-top: 2px solid white;
}