{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="box">
    <h1>Log in</h1>
    {% if form.errors %}
        <p>Your account and username doesn't match. Please try again.</p>
    {% else %}
        <p>Please, use the following form to login:</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}"/>
        <div style="display: flex; justify-content: space-between;">
            <p><input class="button" type="submit" value="Log in"></p>
            <p>
                <a href="{% url 'password_reset' %}">Forgotten Password?</a>
            </p>
        </div>
        <p>If you don't have any account, you can <a href="{% url 'register' %}">register</a> now.</p> 
    </form>
</div>
{% endblock content %}
