{% load static %}
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">

</head>
<body>
    <header>
        <div id="brand">
            <a href="{% url 'blog:index' %}"><img id="brand_image" src="{% static 'images\lazyProgs.png' %}" alt="logo"><h2>lazyProgs</h2></a>
        </div>
        <nav id="navbar">
            <ul>
                <a href="{% url 'blog:index' %}"><li>Home</li></a>
                <a href="{% url 'blog:post_list' %}"><li>Blog</li></a>
                
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        <div class="big-box" style="justify-content: space-evenly;">
            <div>
                <h2>Latest Posts: </h2>
                {% show_latest_posts 3 %}
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>Total posts: {% total_posts %}</p>
                <p>Total comments: {% total_comments %}</p>
            </div>

            <div>
                <h2>Most Commented Posts: </h2>
                {% show_most_commented_posts 3 %}
            </div>
        </div>
    {% endblock footer %}
    </div>
    
</body>
</html>