{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock title %}
    {% block content %}
        <h1>{{ post.title }}</h1>
        <p>
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}" target="_blank"> {{ tag.name }}</a>
                {% if not forloop.last %}, {% endif%}
            {% endfor %}
        </p>
        <small>Written by {{ post.author }} - {{ post.publish }}</small>
        <p>{{ post.body|markdown }}</p>
        <p>
            <a href="{% url 'blog:post_share' post.id %}">Share this Post</a>
        </p>

        <h2>Similar Posts:</h2>
        <div class="big-box">
        {% for post in similar_posts %}
            <div class="small-box">
                <h3>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h3>
                <p>
                    {{ post.body|truncatewords_html:15|markdown }}
                </p>
            </div>
        {% empty %}
            <p>There are no similar posts yet.</p>
        {% endfor %}
        </div>
 
        {% with comments.count as total_comments %}
            <h2>
                This post has {{ total_comments }} comment{{ total_comments|pluralize }}.
            </h2>
        {% endwith %}
        {% for comment in comments %}
            <div style="padding: 15px;">
                <small>
                    Comment {{ forloop.counter }} by {{ comment.name }} in {{ comment.created }}
                </small>
                <p style="border-top: 1px solid;">{{ comment.body|linebreaks }}</p>
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}

        {% if new_comment %}
            <h3>Your comment has been added</h3>
            <h2>Add another comment:</h2>
            <form action="." method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input class="button" type="submit" value="Add Comment">
            </form>
        {% else %}
            <h2>Add a new comment:</h2>
            <form action="." method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input class="button" type="submit" value="Add Comment">
            </form>
        {% endif %}
    {% endblock content %}
