{% extends 'blog/base.html' %}
{% block title %}Search "{{ query }}"{% endblock title %}
{% block content %}
    <h1>Post containing "{{ query }}"</h1>
    <h3>
    {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
    </h3>
    {% for post in results %}
    <div style="border: 2px solid white; padding: 15px; margin: 10px;">
        <h2><a class="link_title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.body|truncatewords:5 }}</p>
    </div>
        
    {% empty %}
        <h4>There are no results for your query.</h4>
    {% endfor %}
{% endblock content %}
